*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 745px;
    padding-right: 745px;
    padding-top: 230px;
}
