*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding-top: 50px;
    height: 536px;
    width: 536px;
}

